/* .App {
  text-align: center;
}
 
 ul {
   list-style-type: none;
   
   padding: 4rem;
   overflow: hidden;
   background-color: black;
   margin-bottom: -3rem;
   z-index: 1; 
 }
  
 li {
   display: inline-flex;
   margin-left: 10vw;  

 }
 
 li a {
  
   color: white;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding: 14px 16px;
   text-decoration: none;
 }

 li a:hover:not(.active) {
   background-color: rgb(253, 251, 251);
   border: none;
   color: black;
   border-radius: 50px;
  box-shadow: 10px 5px 15px 5px rgba(224, 216, 216, 0.75);
  text-decoration: none;
 }
 
  
a, .App-link {
  color: white;
  font-size: 22px;
}
 
/* button{
    margin: 10px;
    margin-top: 1rem;  
    border-radius: 50px;
    padding: 1rem;
    
} */
 
 
div, p{
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
div .background {  
text-align: center; 
background-color: black;
}

body{
  background-color: black;

    box-sizing: none;
}   
  