  
div .background {  
text-align: center; 
background-color: black;
}

body{
  background-color: black;
  box-sizing: none;
}   
    .tooltip {
      position: relative;
      display: inline-block; ;
    }
  
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      font-style: arial;
      background-color: rgb(86, 82, 82); 
      text-align: center;
      border-radius: 15px;
      padding: 10px 0;
      position: absolute;
      z-index: 1;
      bottom: 120%; 
      border: '1px solid white';
      left: -200%; 
      opacity: 0; 
      transition: opacity 0.5s;
    }
  
    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      margin-top: '10px'; 
      left: 20%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent transparent;
    }
  
    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
      margin-top: -2rem;
      font-size: 18px;
      color: rgb(255, 254, 254);
      font-style: Roboto, sans-serif;
    }